   .barDiv{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

   }
   .barcontainer {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 30px;
  }
  
  .search {
    background-color: white;
    border: 2px solid #87CEEB; 
    border-radius: 8px;
    padding: 10px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  .search:focus {
    outline: none;
    border-color: #00BFFF; 
    box-shadow: 0 0 8px rgba(0, 191, 255, 0.5);
  }
  
  .bouttonBar {
    background-color: #87CEEB;
    border: none;
    color: white;
    padding: 10px 15px;
    border-radius: 8px;
    font-weight: bold;
    transition: all 0.3s ease-in-out;
  }
  
  .btn:hover {
    background-color: #00BFFF; 
    box-shadow: 0 4px 8px rgba(0, 191, 255, 0.5);


  }

